# Error Reports

* Class to generate error reports based on original dataframe and error dataframe
    
* Error Dataframe: dataframe with column name = error, values = True/False if that row has error
    
* Result of generating dataframe is the original dataframe with error columns attached (convert to OK/ERROR) and original dataframe with error columns attached but only rows with at least one error
    
* Results can be exported to CSV or PG

## Import

In [1]:
from functions.errorutilities import ErrorReports
import pandas as pd
import os

import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

/Users/Steven/anaconda/lib/python3.4/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

## Data

In [2]:
# generate data
test = pd.DataFrame({"col1": range(10)})
test.head(10)

   col1
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

## Create Error dataframe

In [3]:
rows_greater_8 = test["col1"] > 8
rows_not_even = ~ (test["col1"] % 2 == 0)

error_col_to_value = {"greater_8" : rows_greater_8,
                      "not_even" :  rows_not_even }

error_df = pd.DataFrame(error_col_to_value)
error_df.head(10)

  greater_8 not_even
0     False    False
1     False     True
2     False    False
3     False     True
4     False    False
5     False     True
6     False    False
7     False     True
8     False    False
9      True     True

## Generate Reports

In [4]:
error_reports = ErrorReports()
error_reports.addReport('test_error_report', test , error_df)
error_reports.generateReports()
error_reports.exportReportsCSV(os.path.join(os.getcwd(),'outputs'))

## Outputs

In [5]:
error_reports.error_reports["test_error_report"].head(10)

   col1 greater_8 not_even
0     0        Ok       Ok
1     1        Ok    Error
2     2        Ok       Ok
3     3        Ok    Error
4     4        Ok       Ok
5     5        Ok    Error
6     6        Ok       Ok
7     7        Ok    Error
8     8        Ok       Ok
9     9     Error    Error